.deck .card .score-panel {
    order: 10;
}

.stats {
    display: inline-block;
}


@media screen and (max-width: 415px) {

    .score-panel {
        width: 310px;
        order: 11;
    }

    .score-panel .stars {
        font-size: 30px;
    }

    .fa-repeat:before {
        font-size: 35px;
    }

    .deck {
        width: 310px;
        min-height: 350px;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 6px 7px 10px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card {
        height: 60px;
        width: 60px;
        border-radius: 8px;
        box-shadow: 2px 1px 10px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.show {
        font-size: 20px;
    }

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 20px;
    }
}

@media screen and (min-width: 568px) {

    header {
        text-align: center;
    }

    .score-panel {
        margin-left: 20px;
    }

    .container {
        flex-direction: row;
    }

    .stats {
        display: inline-block;
    }

    .deck {
        min-height: 320px;
    }

    .deck .card {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 640px) {

   header {
        text-align: center;
    }

    .score-panel {
        margin-left: 20px;
    }

    .container {
        flex-direction: row;
    }

    .stats {
        display: inline-block;
    }

    .deck {
        min-height: 350px;
    }

    .deck .card {
        height: 60px;
        width: 60px;
    } 
}

@media screen and (min-width: 731px) {

    header {
        text-align: center;
    }

    .score-panel {
        margin-left: 20px;
    }

    .container {
        flex-direction: row;
    }

    .stats {
        display: inline-block;
    }

    .deck {
        min-height: 400px;
    }

    .deck .card {
        height: 70px;
        width: 70px;
    } 
}

@media screen and (min-width: 812px) {
    header {
        text-align: center;
    }

    .score-panel {
        margin-left: 20px;
    }

    .container {
        flex-direction: row;
    }

    .stats {
        display: inline-block;
    }

    .deck {
        min-height: 400px;
    }

    .deck .card {
        height: 75px;
        width: 76px;
    } 
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
    .container {
        flex-direction: column;
    }

    .stats {
        display: inline-block;
    }

    .deck {
        min-height: 650px;
    }

    .deck .card {
        height: 125px;
        width: 125px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .stats {
        display: inline-block;
    }

    .deck {
        min-height: 650px;
    }

    .deck .card {
        height: 125px;
        width: 125px;
    }
}