.deck .card .score-panel {
    order: 10;
}

@media screen and (max-width: 415px) {

    .score-panel {
        width: 310px;
        order: 11;
    }

    .score-panel .stars {
        font-size: 30px;
    }

    .fa-repeat:before {
        font-size: 35px;
    }

    .deck {
        width: 310px;
        min-height: 350px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 10px;
        border-radius: 2px;
        box-shadow: 6px 7px 10px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 3em;
    }

    .deck .card {
        height: 60px;
        width: 60px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 1px 10px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.open {
        transform: rotateY(0);
        background: #02b3e4;
        cursor: default;
    }

    .deck .card.show {
        font-size: 20px;
    }

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 20px;
    }
};